<a href="https://colab.research.google.com/github/omarhassanhaggag/Assignment1/blob/main/Graduation_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dataset link

https://www.kaggle.com/datasets/kaggle/sf-salaries

# Q1:  What is the average BasePay across all job titles?

# PYTHON CODE

In [2]:
import pandas as pd

df = pd.read_csv("Salaries.csv")
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40404,40405,David Parry,Police Officer 3,117171.44,15729.27,9444.58,34797.29,142345.29,177142.58,2012.0,NaN,San Francisco,NaN
40405,40406,Francisco Ho,Police Officer 3,115243.79,3373.68,23949.76,34574.54,142567.23,177141.77,2012.0,NaN,San Francisco,NaN
40406,40407,Manuel Gonzales,Transit Power Line Sprv1,101660.00,23405.98,8310.00,43764.64,133375.98,177140.62,2012.0,NaN,San Francisco,NaN
40407,40408,Lauro Baca III,Police Officer 2,114887.75,13882.03,13831.60,34535.78,142601.38,177137.16,2012.0,NaN,San Francisco,NaN
40408,40409,Milagros Brosas,Registered Nurse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
print(df.dtypes)

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                float64
Notes               float64
Agency               object
Status              float64
dtype: object

In [18]:
df['BasePay']= pd.to_numeric(df['BasePay'], errors='coerce')
df['BasePay'].mean()

112618.25130112655

In [17]:
# Another Method
df['BasePay'].mean()

112618.25130112655

# sql code

In [ ]:
SELECT avg("BasePay") as Average_Amount
from Salaries;

# Q2: Which job title has the highest BasePay?

# PYTHON CODE

In [20]:
# Group by 'JobTitle' and calculate the maximum 'BasePay'
max_basepay_by_job = df.groupby('JobTitle')['BasePay'].max().reset_index()

# Find the job title with the highest BasePay
max_basepay_row = max_basepay_by_job[max_basepay_by_job['BasePay'] == max_basepay_by_job['BasePay'].max()]

# Display the result
print("Job Title with the highest BasePay:")
print(max_basepay_row)

Job Title with the highest BasePay:
                        JobTitle    BasePay
182  EXECUTIVE CONTRACT EMPLOYEE  294580.02

# sql code

In [ ]:
SELECT max(Basepay)
FROM Salaries

# Q3: How many unique job titles are there in the dataset?

# PYTHON CODE

In [28]:
unique_job_titles = df['JobTitle'].nunique()
# Print the result
print(unique_job_titles )

473

# sql code

In [ ]:
SELECT COUNT(DISTINCT JobTitle)
FROM Salaries;

#### Q4: What is the total OvertimePay for each year?

# PYTHON CODE

In [29]:
df['OvertimePay']=pd.to_numeric(df['OvertimePay'],errors='coerce')
total_overtime_by_year = df['OvertimePay'].sum()
total_overtime_by_year

106158966.1

# sql code

In [ ]:
SELECT year, SUM(OvertimePay) AS TotalOvertimePay
FROM Salaries
GROUP BY year;

#### Q5: Which year had the highest average OtherPay?

# PYTHON CODE

In [32]:
# Group by year and calculate average OtherPay for each year
average_otherpay_per_year = df.groupby('Year')['OtherPay'].mean()

# Find the year with the highest average OtherPay
highest_average_otherpay_year = average_otherpay_per_year.idxmax()

# Print the result
print(f"The year with the highest average OtherPay is: {highest_average_otherpay_year}")

The year with the highest average OtherPay is: 1970.0

# sql code

In [ ]:
SELECT Year, AVG(OtherPay) AS AvgOtherPay
FROM Salaries
GROUP BY year
ORDER BY AvgOtherPay DESC
LIMIT 1;

#### Q6: What is the median TotalPay for each job title?

# PYTHON CODE

In [33]:

# Calculate the median TotalPay for each job title
median_totalpay_per_job_title = df.groupby('JobTitle')['TotalPay'].median()

# Print the result
print("Median TotalPay for each job title:")
print(median_totalpay_per_job_title)

Median TotalPay for each job title:
JobTitle
ADMINISTRATIVE ENGINEER                   130171.080
ADMINISTRATOR, SFGH MEDICAL CENTER        257124.440
AIRPORT COMMUNICATIONS OPERATOR           102509.480
AIRPORT ECONOMIC PLANNER                  109113.160
AIRPORT ELECTRICIAN                       110872.370
                                             ...
WATER OPERATIONS ANALYST                  110110.020
WATER SERVICE INSPECTOR                   117453.950
WELDER                                    117920.985
WIRE ROPE CABLE MAINTENANCE MECHANIC      122833.480
WIRE ROPE CABLE MAINTENANCE SUPERVISOR    199628.970
Name: TotalPay, Length: 473, dtype: float64

# sql code

In [ ]:
SELECT JobTitle, PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY TotalPay) AS MedianTotalPay
FROM Salaries
GROUP BY JobTitle;

#### Q7: How many employees are there in each agency?

# PYTHON CODE

In [35]:
# Count the number of employees in each agency
employees_per_agency = df.groupby('Agency')['EmployeeName'].count()

# Print the result
print(employees_per_agency)

Agency
San Francisco    9853
Name: EmployeeName, dtype: int64

# sql code

In [ ]:
SELECT Agency, COUNT(EmployeeName) AS NumberOfEmployees
FROM Salaries
GROUP BY Agency;

#### Q8: What is the maximum Benefits offered by any agency?

# PYTHON CODE

In [40]:
df['Benefits'] = pd.to_numeric(df['Benefits'], errors='coerce')
# Find the maximum Benefits offered by any agency
max_benefits = df['Benefits'].max()

# Print the result
print("Maximum Benefits offered by any agency:", max_benefits)
df['Benefits'].head()

Maximum Benefits offered by any agency: nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Benefits, dtype: float64

# sql code

In [ ]:
SELECT  MAX(Benefits) AS MaxBenefits
FROM Salaries,

#### Q9: What is the total BasePay, OvertimePay, and OtherPay for each employee?

# PYTHON CODE

In [41]:
# Group by employee and calculate the total BasePay, OvertimePay, and OtherPay for each employee
total_pay_per_employee = df.groupby('EmployeeName')[['BasePay', 'OvertimePay', 'OtherPay']].sum()

# Print the result
print("Total pay for each employee:")
print(total_pay_per_employee)

Total pay for each employee:
                     BasePay  OvertimePay  OtherPay
EmployeeName
AARON BALLONADO    107162.62      8267.17  11852.18
AARON COWHIG       110242.94      5321.76   7048.72
AARON CRAMER        99460.72      3271.30   3653.47
AARON DEL TREDICI  129531.60         0.00   2349.00
AARON DOSS          88062.00     34990.19   5141.07
...                      ...          ...       ...
ZHONG XING GONG    103245.58         0.00    496.97
ZIHONG GORMAN      153070.51         0.00      0.00
ZOILA LECHUGA       78016.11     14033.80   6516.12
ZOILA MAGUINA      112421.41      8477.06   4930.37
ZULA JONES         116004.00         0.00      0.00

[9698 rows x 3 columns]

# sql code

In [ ]:
SELECT EmployeeName,
       SUM(BasePay) AS TotalBasePay,
       SUM(OvertimePay) AS TotalOvertimePay,
       SUM(OtherPay) AS TotalOtherPay
FROM Salaries
GROUP BY EmployeeName;

#### Q10: Which employee has the highest TotalPayBenefits?

# PYTHON CODE

In [7]:
# Calculate TotalPayBenefits as the sum of BasePay, OvertimePay, OtherPay, and Benefits
df['TotalPayBenefits'] = df['BasePay'] + df['OvertimePay'] + df['OtherPay'] + df['Benefits']

# Find the employee with the highest TotalPayBenefits
employee_highest_totalpaybenefits = df.loc[df['TotalPayBenefits'].idxmax()]

# Print the result
print("Employee with the highest TotalPayBenefits:")
print(employee_highest_totalpaybenefits)

Employee with the highest TotalPayBenefits:
Id                                         36160
EmployeeName                      Gary Altenberg
JobTitle            Lieutenant, Fire Suppression
BasePay                                128808.87
OvertimePay                            220909.48
OtherPay                                13126.31
Benefits                                44430.12
TotalPay                               362844.66
TotalPayBenefits                       407274.78
Year                                      2012.0
Notes                                        NaN
Agency                             San Francisco
Status                                       NaN
Name: 36159, dtype: object

# sql code

In [ ]:
SELECT *
FROM Salaries
ORDER BY BasePay + OvertimePay + OtherPay + Benefits DESC
LIMIT 1;

#### Q11: How does the average TotalPayBenefits vary across years?

# PYTHON CODE

In [4]:
# Calculate TotalPayBenefits as the sum of BasePay, OvertimePay, OtherPay, and Benefits
df['TotalPayBenefits'] = df['BasePay'] + df['OvertimePay'] + df['OtherPay'] + df['Benefits']

# Group by year and calculate the average TotalPayBenefits for each year
average_totalpaybenefits_per_year = df.groupby('Year')['TotalPayBenefits'].mean()

# Print the result
print("Average TotalPayBenefits for each year:")
print(average_totalpaybenefits_per_year)

Average TotalPayBenefits for each year:
Year
2011.0              NaN
2012.0    210865.586223
Name: TotalPayBenefits, dtype: float64

In [9]:
average_pay_by_year = df.groupby('Year')['TotalPayBenefits'].mean().reset_index()
average_pay_by_year

     Year  TotalPayBenefits
0  2011.0               NaN
1  2012.0     210865.586223

# sql code

In [ ]:
SELECT year, AVG(BasePay + OvertimePay + OtherPay + Benefits) AS AvgTotalPayBenefits
FROM Salaries
GROUP BY year
ORDER BY year;

#### Q12: What is the total BasePay for each status (full-time, part-time, etc.)?

# PYTHON CODE

In [15]:

# Group by status and calculate the total BasePay for each status
total_basepay_per_status = df.groupby('Status')['BasePay'].sum()

# Print the result
print(total_basepay_per_status)

Series([], Name: BasePay, dtype: float64)

# sql code

In [ ]:
SELECT Status, SUM(BasePay) AS TotalBasePay
FROM Salaries
GROUP BY Status;

#### Q13: How many employees are there for each job title in each agency?

# PYTHON CODE

In [16]:

# Group by agency and job title and count the number of employees in each group
employees_per_job_title_agency = df.groupby(['Agency', 'JobTitle']).size().reset_index(name='EmployeeCount')

# Print the result
print("Number of employees for each job title in each agency:")
print(employees_per_job_title_agency)

Number of employees for each job title in each agency:
             Agency                                        JobTitle  \
0     San Francisco                                   ACCOUNT CLERK
1     San Francisco                                      ACCOUNTANT
2     San Francisco                               ACCOUNTANT INTERN
3     San Francisco                                   ACUPUNCTURIST
4     San Francisco                          ADMINISTRATIVE ANALYST
...             ...                                             ...
1279  San Francisco                  Wire Rope Cable Maint Mechanic
1280  San Francisco                      Wire Rope Cable Maint Sprv
1281  San Francisco                           X-RAY LABORATORY AIDE
1282  San Francisco  YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS
1283  San Francisco                                     ZOO CURATOR

      EmployeeCount
0                83
1                 5
2                48
3                 1
4                93
...             ...
1279              3
1280              1
1281             26
1282              1
1283              1

[1284 rows x 3 columns]

# sql code

In [ ]:
SELECT Agency, JobTitle, COUNT(*) AS EmployeeCount
FROM Salaries
GROUP BY Agency, JobTitle;

#### Q14: Which job title has the highest average Benefits?

# PYTHON CODE

In [17]:
# Group by job title and calculate the average Benefits for each job title
average_benefits_per_job_title = df.groupby('JobTitle')['Benefits'].mean()

# Find the job title with the highest average Benefits
highest_avg_benefits_job_title = average_benefits_per_job_title.idxmax()
highest_avg_benefits = average_benefits_per_job_title.max()

# Print the result
print("Job title with the highest average Benefits:", highest_avg_benefits_job_title)
print("Highest average Benefits:", highest_avg_benefits)

Job title with the highest average Benefits: Gen Mgr, Public Trnsp Dept
Highest average Benefits: 82001.94

# sql code

In [ ]:
SELECT JobTitle, AVG(Benefits) AS AvgBenefits
FROM your_table_name
GROUP BY JobTitle
ORDER BY AvgBenefits DESC
LIMIT 1;

#### Q15: What is the ratio of BasePay to TotalPayBenefits for each job title?

# PYTHON CODE

In [23]:
# Calculate TotalPayBenefits as the sum of BasePay, OvertimePay, OtherPay, and Benefits
df['TotalPayBenefits'] = df['BasePay'] + df['OvertimePay'] + df['OtherPay'] + df['Benefits']

# Calculate the ratio of BasePay to TotalPayBenefits for each job title
df['BasePay_TotalPayBenefits_Ratio'] = df['BasePay'] / df['TotalPayBenefits']

# Print the result
print("Ratio of BasePay to TotalPayBenefits for each job title:")
print(df[['JobTitle', 'BasePay_TotalPayBenefits_Ratio']])

Ratio of BasePay to TotalPayBenefits for each job title:
                                             JobTitle  \
0      GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                     CAPTAIN III (POLICE DEPARTMENT)
2                     CAPTAIN III (POLICE DEPARTMENT)
3                WIRE ROPE CABLE MAINTENANCE MECHANIC
4        DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                                               ...
40404                                Police Officer 3
40405                                Police Officer 3
40406                        Transit Power Line Sprv1
40407                                Police Officer 2
40408                                Registered Nurse

       BasePay_TotalPayBenefits_Ratio
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
40404                        0.661453
40405                        0.650574
40406                        0.573894
40407                        0.648581
40408                             NaN

[40409 rows x 2 columns]

# sql code

In [ ]:
SELECT JobTitle, BasePay / (BasePay + OvertimePay + OtherPay + Benefits) AS BasePay_TotalPayBenefits_Ratio
FROM your_table_name;

#### Q16: Which job title has the highest ratio of BasePay to TotalPayBenefits?

# PYTHON CODE

In [24]:
# Calculate TotalPayBenefits as the sum of BasePay, OvertimePay, OtherPay, and Benefits
df['TotalPayBenefits'] = df['BasePay'] + df['OvertimePay'] + df['OtherPay'] + df['Benefits']

# Calculate the ratio of BasePay to TotalPayBenefits for each job title
df['BasePay_TotalPayBenefits_Ratio'] = df['BasePay'] / df['TotalPayBenefits']

# Find the job title with the highest ratio of BasePay to TotalPayBenefits
highest_ratio_job_title = df.loc[df['BasePay_TotalPayBenefits_Ratio'].idxmax(), 'JobTitle']
highest_ratio_value = df['BasePay_TotalPayBenefits_Ratio'].max()

# Print the result
print("Job title with the highest ratio of BasePay to TotalPayBenefits:", highest_ratio_job_title)
print("Highest ratio value:", highest_ratio_value)

Job title with the highest ratio of BasePay to TotalPayBenefits: Anesthetist
Highest ratio value: 0.9100134031663843

# sql code

In [ ]:
SELECT JobTitle,
       BasePay / (BasePay + OvertimePay + OtherPay + Benefits) AS BasePay_TotalPayBenefits_Ratio
FROM Salaries
ORDER BY BasePay_TotalPayBenefits_Ratio DESC
LIMIT 1;

#### Q17: How many years of data are available in the dataset?

# PYTHON CODE

In [28]:

# Extract unique years from the 'year' column
years_available = df['Year'].nunique()

print("Number of years of data available:", years_available)

Number of years of data available: 2

# sql code

In [ ]:
SELECT COUNT(DISTINCT year) AS YearsAvailable
FROM Salaries;

#### Q18: What is the average BasePay for each year and job title combination?

# PYTHON CODE

In [35]:
# Group by year and job title and calculate the average BasePay for each combination
average_basepay_per_year_job_title = df.groupby(['Year', 'JobTitle'])['BasePay'].mean().reset_index()

# Print the result
print("Average BasePay for each year and job title combination:")
print(average_basepay_per_year_job_title)

Average BasePay for each year and job title combination:
        Year                        JobTitle        BasePay
0     2011.0                   ACCOUNT CLERK   43300.806506
1     2011.0                      ACCOUNTANT   46643.172000
2     2011.0               ACCOUNTANT INTERN   28732.663958
3     2011.0                   ACUPUNCTURIST   66374.400000
4     2011.0          ADMINISTRATIVE ANALYST   63435.628602
...      ...                             ...            ...
1279  2012.0              Utility Specialist  116446.030000
1280  2012.0           Water Const&Main Supt  118736.630000
1281  2012.0        Water Operations Analyst  129934.310000
1282  2012.0  Wire Rope Cable Maint Mechanic   77454.960000
1283  2012.0      Wire Rope Cable Maint Sprv   88634.010000

[1284 rows x 3 columns]

# sql code

In [ ]:
SELECT year, JobTitle, AVG(BasePay) AS AverageBasePay
FROM Salaries
GROUP BY year, JobTitle;

#### Q19: How many employees have a TotalPayBenefits greater than $326373.19??

# PYTHON CODE

In [36]:
# Filter the DataFrame to include only employees with TotalPayBenefits greater than $326373.19
employees_gt_threshold = df[df['TotalPayBenefits'] > 326373.19]

# Count the number of rows in the filtered DataFrame
num_employees_gt_threshold = len(employees_gt_threshold)

print("Number of employees with TotalPayBenefits greater than $326373.19:", num_employees_gt_threshold)

Number of employees with TotalPayBenefits greater than $326373.19: 44

# sql code

In [ ]:
SELECT COUNT(*) AS NumEmployeesGreaterThanThreshold
FROM Salaries
WHERE TotalPayBenefits > 326373.19;

#### Q20: Which agency has the highest average TotalPayBenefits?

# PYTHON CODE

In [42]:
# Group by agency and calculate the average TotalPayBenefits for each agency
average_totalpaybenefits_per_agency = df.groupby('Agency')['TotalPayBenefits'].mean()

# Find the agency with the highest average TotalPayBenefits
highest_avg_totalpaybenefits_agency = average_totalpaybenefits_per_agency.idxmax()
highest_avg_totalpaybenefits = average_totalpaybenefits_per_agency.max()

# Print the result
print("Agency with the highest average TotalPayBenefits:", highest_avg_totalpaybenefits_agency)
print("Highest average TotalPayBenefits:", highest_avg_totalpaybenefits)

Agency with the highest average TotalPayBenefits: San Francisco
Highest average TotalPayBenefits: 210865.58622264062

# sql code

In [ ]:
SELECT Agency, AVG(TotalPayBenefits) AS AvgTotalPayBenefits
FROM Salaries
GROUP BY Agency
ORDER BY AvgTotalPayBenefits DESC
LIMIT 1;